
<main>

    <div class="contenedor">
        <div class="cajaEspera" *ngIf="espera" >Cargando...</div>
        <div class="caja" (click)="punto('1')" > <div class="punto">{{uno}}</div></div>
        <div class="caja" (click)="punto('2')" ><div class="punto">{{dos}}</div></div>
        <div class="caja" (click)="punto('3')" ><div class="punto">{{tres}}</div></div>
        <div class="caja" (click)="punto('4')" ><div class="punto">{{cuatro}}</div></div>
        <div class="caja" (click)="punto('5')" ><div class="punto">{{cinco}}</div></div>
        <div class="caja" (click)="punto('6')" ><div class="punto">{{seis}}</div></div>
        <div class="caja" (click)="punto('7')" ><div class="punto">{{siete}}</div></div>
        <div class="caja" (click)="punto('8')" ><div class="punto">{{ocho}}</div></div>
        <div class="caja" (click)="punto('9')" ><div class="punto">{{nueve}}</div></div>
    </div>

</main>
