<main>
  <div class="contenedor">
    <div class="caja"><app-tab-uno (enviar)="recibidoMensaje($event)" ></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeDos($event)" ></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeTres($event)"></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeCuatro($event)"></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeCinco($event)"></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeSeis($event)"></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeSiete($event)"></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeOcho($event)"></app-tab-uno></div>
    <div class="caja"><app-tab-uno (enviar)="recibidoMensajeNueve($event)"></app-tab-uno></div>
  </div>
</main>

